In [1]:
import pandas as pd

In [3]:
orders = pd.read_excel("orders.xlsx")

,order_id,accepted_at,product_id,quantity,regular_price,price,cost_price
0,1517514900,2022-01-13 16:48:19,17122,1,169,169,74
1,1517430051,2022-01-13 16:46:53,17122,1,169,169,74
2,1517578174,2022-01-13 18:12:30,17122,1,169,169,74

In [5]:
products = pd.read_excel("products.xlsx")

,product_id,level1,level2,name
0,1,Гигиена,Бритье,Кассеты для бритья Gillette Fusion ProGlide Po...
1,2,Мучные кондитерские изделия,Мучные кондитерские изделия,Печенье Бодрость
2,3,Мясная гастрономия,"Сосиски, сардельки",Сосиски Стародворье

Описание данных
Таблица products:

product_id - id товара
level1 - категория
level2 - подкатегория
name - наименование товара
Таблица orders:

order_id - номер чека
accepted_at - дата и время чека
product_id - id товара
quantity - кол-во товара в чеке
regular_price - регулярная цена
price - текущая цена
cost_price - закупочная цена

1

Самая ходовая товарная группа
По какой категории товаров продано больше всего позиций?

Подкрепите свой ответ таблицей, в которой рассчитано количество проданных штук товара в каждой товарной категории.
Дополнительно постройте на основании этой таблицы barchart.
Проверьте, чтобы все подписи на вашем графике выглядели читаемо и понятно. Этот график должен быть сходу понятен стороннему наблюдателю.